.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        タイトル
      %ul.main-header__left-box__member-list
        メンバー:
        %li.main-header__left-box__member-list
          jun
    .main-header__edit-btn
      = link_to "#" do
        edit
  
  .messages
    .message
      .message__upper-info
        %p.message__upper-info__talker
          jun
        %p.message__upper-info__date
          2020/03/10(thu) 20:15:11
        %p.message__text
          hello wolld!!hello wolld!!hello wolld!!hello wolld!!hello wolld!!hello wolld!!
    .message
      .message__upper-info
        %p.message__upper-info__talker
          jun
        %p.message__upper-info__date
          2020/03/10(thu) 20:15:11
        %p.message__text
          hello wolld!!hello wolld!!hello wolld!!hello wolld!!hello wolld!!hello wolld!!
    .message
      .message__upper-info
        %p.message__upper-info__talker
          jun
        %p.message__upper-info__date
          2020/03/10(thu) 20:15:11
        %p.message__text
          hello wolld!!hello wolld!!hello wolld!!hello wolld!!hello wolld!!hello wolld!!
    .message
      .message__upper-info
        %p.message__upper-info__talker
          jun
        %p.message__upper-info__date
          2020/03/10(thu) 20:15:11
        %p.message__text
          hello wolld!!hello wolld!!hello wolld!!hello wolld!!hello wolld!!hello wolld!!
  .form
    %form.new_message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn"}